#app {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.hud {
  position: fixed;
  inset: 0;
}

.camera {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.radial-hud {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  height: clamp(240px, 40vh, 400px);
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  overflow: hidden;
  pointer-events: auto;
}

/* Blur layer */
.radial-hud::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.4);

  z-index: 0;
}

/* Actual controls */
.radial-hud > * {
  position: relative;
  z-index: 1;
}

.wrapper {
  height: clamp(300px, 90vh, 600px);
  width: clamp(300px, 90vh, 600px);
  display: grid;
  place-items: center;
  overflow: hidden;
}
.wrapper {
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.wrapper > .bigbang {
  aspect-ratio: 1 / 1;
  max-width: 100vmin;
  max-height: 100vmin;
  display: grid;
  place-items: center;
  overflow: visible; /* important */
}

.orbit-scale {
  transform: scale(0.8);
  transform-origin: center;
}

.accent {
  --o-fill: var(--o-gray-darker);
}

.accent:hover {
  --o-fill: var(--o-cyan-darker);
}

.accent.active {
  --o-fill: var(--o-cyan);
}

/* Button icons */
.satellite {
  border: transparent;
  z-index: 1;
}

.satellite .capsule {
  color: var(--o-gray-darker);
  font-size: 0.8em;
}

.main-menu o-arc {
  --o-color: var(--o-gray-darker);
}

.cyan {
  --o-back-fill: var(--o-cyan-darker);
  --o-fill: var(--o-cyan);
}

.green {
  --o-back-fill: var(--o-green-darker);
  --o-fill: var(--o-green);
}

.red {
  --o-back-fill: var(--o-pink-darker);
  --o-fill: var(--o-pink);
}

.white {
  --o-back-fill: var(--o-gray-darker);
  --o-fill: white;
}

.darker-gray {
  --o-back-fill: var(--o-gray-dark);
  --o-fill: var(--o-gray-darker);
}

.sensor {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
}

.sensor > .satellite {
  border-color: transparent;
  font-size: 0.8em;
}

.sensor > .satellite.ldr {
  border: 5px solid var(--o-gray);
  background-color: var(--o-gray-darker);
  color: var(--o-gray-lighter);
}
.sensor > .satellite.ldr.active {
  border: 5px solid white;
}

.sensor > .satellite .capsule {
  color: var(--o-gray-lighter);
}

.submenu-buttons {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.submenu-buttons .bi {
  font-size: 1em;
}

.labels {
  --o-fill: none;
}

.labels > o-arc {
  --o-fill: none;
  --o-color: var(--o-gray);
  font-size: 0.8em;
}

.dashed-big {
  opacity: 0.8;
  height: 6px;
}

.dashed-big.orange {
  background: var(--o-orange-darker);
}

.dashed-big.orange.active {
  background: var(--o-orange);
}

.dashed-big.green {
  background: var(--o-green-darker);
}

.dashed-big.green.active {
  background: var(--o-green);
}

.dashed-big.red {
  background: var(--o-red-darker);
}

.dashed-big.red.active {
  background: var(--o-red);
}
