.accent {
  --o-fill: var(--o-gray-darker);
}
.accent:hover {
  --o-fill: var(--o-cyan-darker);
}
.accent.active {
  --o-fill: var(--o-cyan);
}

/* Button icons */
.satellite {
  border: transparent;
  z-index: 1;
}

.satellite .capsule {
  color: var(--o-gray-darker);
  font-size: 1.25em;
}

.main-menu o-arc {
  --o-color: var(--o-gray-darker);
}
