<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rusty Robot Dashboard</title>
    <link rel="stylesheet" href="/static/pico.min.css" />
    <link rel="stylesheet" href="/static/orbit.min.css" />
    <link rel="stylesheet" href="/static/robot.css" />
  </head>
  <body>
    <main class="container">
      <h1>🤖 Rusty Robot</h1>
      <p>Welcome to the control panel.</p>

      <section>
        <h3>Camera</h3>
        <img id="camera" src="/camera/frame.mjpeg" />
      </section>
      <section>
        <h3>Sensors</h3>
        <div id="ultrasound_sensor">Loading ultrasound data…</div>
        <div id="ldr_sensor">Loading ldr data…</div>
      </section>

      <section>
        <h3>Motor controls</h3>
        <button hx-post="/api/motor/forward">Forward</button>
        <button hx-post="/api/motor/backward">Backward</button>
        <button hx-post="/api/motor/stop">Stop</button>
        <button hx-post="/api/motor/left">Left</button>
        <button hx-post="/api/motor/right">Right</button>
      </section>

      <section>
        <h3>Servo controls</h3>
        <button hx-post="/api/servo/up">Up</button>
        <button hx-post="/api/servo/down">Down</button>
      </section>

      <section>
        <div class="bigbang">
          <div class="gravity-spot">
            <div class="orbit-1">
              <div class="capsule">volume</div>
            </div>
            <div class="orbit-6">
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
              <div class="vector"></div>
            </div>
            <div class="orbit-7">
              <o-progress value="50"></o-progress>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h3>HTMX time from the server</h3>
        <p hx-trigger="load, every 1s" hx-get="/time">...</p>
      </section>
    </main>

    <script src="/static/htmx.min.js"></script>
    <script src="/static/orbit.min.js"></script>
    <script>
      const ws = new WebSocket("ws://raspberrypi.local:3000/ws");

      ws.onmessage = (event) => {
        const msg = JSON.parse(event.data);

        if (msg.Ultrasound) {
          console.log("Ultrasound:", msg.Ultrasound);
          document.getElementById("ultrasound_sensor").innerText =
            msg.Ultrasound.distance.toFixed(1);
        }

        if (msg.Ldr) {
          console.log("LDR:", msg.Ldr);
          document.getElementById("ldr_sensor").innerText =
            `left=${msg.Ldr.l_val}, middle=${msg.Ldr.m_val}, right=${msg.Ldr.r_val}`;
        }
      };
    </script>
  </body>
</html>
